*{
    margin: 0;
    padding: 0;
}

.ems-container{

    width: 70vw;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }